.weather-card {
    /* Common styles for all time of the day */
    color: black;
    padding: 20px;
  }
  
  .weather-card.morning {
    /* Styles for morning time */
    background-color: #eee;
  }
  
  .weather-card.afternoon {
    /* Styles for afternoon time */
    background-color: rgb(171, 209, 255);
  }
  
  .weather-card.night {
    /* Styles for night time */
    background-color: rgb(92, 92, 255);
    color: white;
  }